In [1]:
import pandas as pd  
import os

In [2]:
csv_path = os.path.join('..', 'Web Scrapping', 'data_cts_intentional_homicide.xlsx')

# Read the CSV file
gihr_df = pd.read_excel(csv_path,header=2)  # Using pandas

In [3]:
gihr_df.head(50)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,35.0,CTS
1,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28.0,CTS
2,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,15053.0,CTS
3,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,69.0,CTS
4,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,455.0,CTS
5,FIN,Finland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,70.0,CTS
6,GTM,Guatemala,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,2764.0,CTS
7,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,905.0,CTS
8,HUN,Hungary,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,229.0,CTS
9,ISL,Iceland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,1.0,CTS
10,ITA,Italy,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,864.0,CTS
11,JPN,Japan,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,259.0,CTS
12,LKA,Sri Lanka,Asia,Southern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,809.0,CTS
13,LTU,Lithuania,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,173.0,CTS
14,MNG,Mongolia,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,207.0,CTS
15,NOR,Norway,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,16.0,CTS
16,SRB,Serbia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,134.0,CTS
17,SVK,Slovakia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,53.0,CTS
18,SVN,Slovenia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,16.0,CTS
19,TUR,T端rkiye,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,9891.0,CTS
20,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,41.0,CTS
21,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,26.0,CTS
22,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,16476.0,CTS
23,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,55.0,CTS
24,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,489.0,CTS
25,FIN,Finland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,66.0,CTS
26,GTM,Guatemala,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,2649.0,CTS
27,HND,Honduras,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,1319.0,CTS
28,HUN,Hungary,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,204.0,CTS
29,ISL,Iceland,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,1.0,CTS
30,ITA,Italy,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,806.0,CTS
31,JPN,Japan,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,243.0,CTS
32,LKA,Sri Lanka,Asia,Southern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,902.0,CTS
33,LTU,Lithuania,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,174.0,CTS
34,MNG,Mongolia,Asia,Eastern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,217.0,CTS
35,NOR,Norway,Europe,Northern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,18.0,CTS
36,SRB,Serbia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,117.0,CTS
37,SVK,Slovakia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,47.0,CTS
38,SVN,Slovenia,Europe,Southern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,23.0,CTS
39,TUR,T端rkiye,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2014,Counts,10389.0,CTS
40,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,47.0,CTS
41,ATG,Antigua and Barbuda,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,3.0,CTS
42,AUT,Austria,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,29.0,CTS
43,BEL,Belgium,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,81.0,CTS
44,BLZ,Belize,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,55.0,CTS/MoI
45,BOL,Bolivia (Plurinational State of),Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,330.0,CTS
46,BTN,Bhutan,Asia,Southern Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,21.0,CTS
47,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,28.0,CTS
48,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,15819.0,CTS
49,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2015,Counts,66.0,CTS

In [4]:
gihr_df.columns.tolist()

['Iso3_code',
 'Country',
 'Region',
 'Subregion',
 'Indicator',
 'Dimension',
 'Category',
 'Sex',
 'Age',
 'Year',
 'Unit of measurement',
 'VALUE',
 'Source']

In [5]:
gihr_df.drop(['Iso3_code','Region',
 'Subregion','Source'],axis=1,inplace=True)

We need to filter out values from this dataset

In [6]:
gihr_df['Dimension'].unique()

array(['by citizenship', 'Total', 'by relationship to perpetrator',
       'by situational context', 'by mechanisms', 'by location'],
      dtype=object)

In [7]:
gihr_df=gihr_df[gihr_df['Dimension']=='Total']

In [8]:
gihr_df

,Country,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE
1457,Aruba,Victims of intentional homicide,Total,Total,Total,Total,1990,Counts,0.000000
1458,Anguilla,Victims of intentional homicide,Total,Total,Total,Total,1990,Counts,0.000000
1459,Armenia,Victims of intentional homicide,Total,Total,Total,Total,1990,Counts,178.000000
1460,Antigua and Barbuda,Victims of intentional homicide,Total,Total,Total,Total,1990,Counts,1.000000
1461,Australia,Victims of intentional homicide,Total,Total,Total,Total,1990,Counts,374.000000
...,...,...,...,...,...,...,...,...,...
118432,World,Victims of Intentional Homicide - Regional Est...,Total,Total,Male,Total,2019,"Rate per 100,000 population",8.677549
118433,World,Victims of Intentional Homicide - Regional Est...,Total,Total,Male,Total,2020,"Rate per 100,000 population",8.479234
118434,World,Victims of Intentional Homicide - Regional Est...,Total,Total,Male,Total,2021,"Rate per 100,000 population",8.769468
118435,World,Victims of Intentional Homicide - Regional Est...,Total,Total,Male,Total,2022,"Rate per 100,000 population",8.424728
118436,World,Victims of Intentional Homicide - Regional Est...,Total,Total,Male,Total,2023,"Rate per 100,000 population",8.249462

In [9]:
gihr_df['Indicator'].unique()

array(['Victims of intentional homicide',
       'Persons arrested/suspected for intentional homicide',
       'Persons convicted for intentional homicide',
       'Death due to intentional homicide in prison',
       'Victims of Intentional Homicide - Regional Estimate'],
      dtype=object)

In [10]:
gihr_df=gihr_df[gihr_df['Indicator']=='Persons convicted for intentional homicide']

In [11]:
gihr_df

,Country,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE
60956,Albania,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,158.000000
60957,Armenia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,73.000000
60958,Austria,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,37.000000
60959,Bulgaria,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,134.000000
60960,Bahrain,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,1.000000
...,...,...,...,...,...,...,...,...,...
117329,T端rkiye,Persons convicted for intentional homicide,Total,Total,Total,Total,2022,"Rate per 100,000 population",8.896320
117330,Uruguay,Persons convicted for intentional homicide,Total,Total,Total,Total,2022,"Rate per 100,000 population",5.308305
117331,Holy See,Persons convicted for intentional homicide,Total,Total,Total,Total,2022,"Rate per 100,000 population",0.000000
117332,Saint Vincent and the Grenadines,Persons convicted for intentional homicide,Total,Total,Total,Total,2022,"Rate per 100,000 population",0.000000
117333,Singapore,Persons convicted for intentional homicide,Total,Total,Total,Total,2023,"Rate per 100,000 population",0.120917

In [12]:
gihr_df['Sex'].unique()

array(['Total'], dtype=object)

In [13]:
gihr_df=gihr_df[gihr_df['Sex']=='Total']

In [14]:
gihr_df['Year'].unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
      dtype=int64)

In [15]:
gihr_df['Unit of measurement'].unique()

array(['Counts', 'Rate per 100,000 population'], dtype=object)

In [16]:
gihr_df=gihr_df[gihr_df['Unit of measurement']=='Counts']

In [17]:
gihr_df.head(50)

,Country,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE
60956,Albania,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,158.0
60957,Armenia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,73.0
60958,Austria,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,37.0
60959,Bulgaria,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,134.0
60960,Bahrain,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,1.0
60961,Belarus,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,921.0
60962,Bermuda,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,2.0
60963,Canada,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,159.0
60964,Switzerland,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,35.0
60965,Costa Rica,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,129.0
60966,Cyprus,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,2.0
60967,Germany,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,122.0
60968,Denmark,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,31.0
60969,Ecuador,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,298.0
60970,Estonia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,119.0
60971,Finland,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,90.0
60972,France,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,361.0
60973,United Kingdom (England and Wales),Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,277.0
60974,United Kingdom (Scotland),Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,32.0
60975,Georgia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,216.0
60976,"China, Hong Kong Special Administrative Region",Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,12.0
60977,Hungary,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,206.0
60978,Ireland,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,28.0
60979,Iceland,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,1.0
60980,Israel,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,23.0
60981,Italy,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,822.0
60982,Japan,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,444.0
60983,Kyrgyzstan,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,417.0
60984,Latvia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,137.0
60985,Monaco,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,0.0
60986,Republic of Moldova,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,263.0
60987,Mexico,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,3391.0
60988,North Macedonia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,49.0
60989,Malta,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,2.0
60990,Mongolia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,198.0
60991,Mauritius,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,1.0
60992,Norway,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,31.0
60993,New Zealand,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,21.0
60994,Panama,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,290.0
60995,Poland,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,401.0
60996,Portugal,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,170.0
60997,State of Palestine,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,33.0
60998,Romania,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,1471.0
60999,Slovakia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,58.0
61000,Slovenia,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,19.0
61001,Sweden,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,137.0
61002,Turkmenistan,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,402.0
61003,T端rkiye,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,9056.0
61004,Uganda,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,5.0
61005,Ukraine,Persons convicted for intentional homicide,Total,Total,Total,Total,2003,Counts,3250.0

In [18]:
gihr_df.columns.tolist()

['Country',
 'Indicator',
 'Dimension',
 'Category',
 'Sex',
 'Age',
 'Year',
 'Unit of measurement',
 'VALUE']

In [19]:
gihr_df.drop(['Indicator',
 'Dimension',
 'Category',
 'Sex',
 'Age', 'Unit of measurement'],axis=1,inplace=True)

In [20]:
gihr_df.head(50)

                                              Country  Year   VALUE
60956                                         Albania  2003   158.0
60957                                         Armenia  2003    73.0
60958                                         Austria  2003    37.0
60959                                        Bulgaria  2003   134.0
60960                                         Bahrain  2003     1.0
60961                                         Belarus  2003   921.0
60962                                         Bermuda  2003     2.0
60963                                          Canada  2003   159.0
60964                                     Switzerland  2003    35.0
60965                                      Costa Rica  2003   129.0
60966                                          Cyprus  2003     2.0
60967                                         Germany  2003   122.0
60968                                         Denmark  2003    31.0
60969                                         Ecuador  2003   298.0
60970                                         Estonia  2003   119.0
60971                                         Finland  2003    90.0
60972                                          France  2003   361.0
60973              United Kingdom (England and Wales)  2003   277.0
60974                       United Kingdom (Scotland)  2003    32.0
60975                                         Georgia  2003   216.0
60976  China, Hong Kong Special Administrative Region  2003    12.0
60977                                         Hungary  2003   206.0
60978                                         Ireland  2003    28.0
60979                                         Iceland  2003     1.0
60980                                          Israel  2003    23.0
60981                                           Italy  2003   822.0
60982                                           Japan  2003   444.0
60983                                      Kyrgyzstan  2003   417.0
60984                                          Latvia  2003   137.0
60985                                          Monaco  2003     0.0
60986                             Republic of Moldova  2003   263.0
60987                                          Mexico  2003  3391.0
60988                                 North Macedonia  2003    49.0
60989                                           Malta  2003     2.0
60990                                        Mongolia  2003   198.0
60991                                       Mauritius  2003     1.0
60992                                          Norway  2003    31.0
60993                                     New Zealand  2003    21.0
60994                                          Panama  2003   290.0
60995                                          Poland  2003   401.0
60996                                        Portugal  2003   170.0
60997                              State of Palestine  2003    33.0
60998                                         Romania  2003  1471.0
60999                                        Slovakia  2003    58.0
61000                                        Slovenia  2003    19.0
61001                                          Sweden  2003   137.0
61002                                    Turkmenistan  2003   402.0
61003                                         T端rkiye  2003  9056.0
61004                                          Uganda  2003     5.0
61005                                         Ukraine  2003  3250.0

In [21]:
all_years = range(2003, 2024)  # 2021 inclusive

# Create a pivot table with countries as rows and years as columns
pivot_df = (
    gihr_df.pivot_table(
        index='Country',
        columns='Year',
        values='VALUE',
        aggfunc='first'  # Takes the first occurrence if duplicates exist
    )
    .reindex(columns=all_years)  # Ensure all years are present as columns
    .sort_index(axis=0)  # Sort countries alphabetically
    .reset_index()       # Move Country from index to column
)

# Rename the columns to match your requirements
pivot_df.columns.name = None  # Remove the 'Year' label from columns
pivot_df = pivot_df.rename(columns={'Country': 'Country'})

In [22]:
pivot_df.head(50)

,Country,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Albania,158.0,136.0,128.0,95.0,92.0,96.0,NaN,NaN,NaN,...,175.0,166.0,135.0,95.0,114.0,73.0,62.0,96.0,NaN,NaN
1,Algeria,NaN,406.0,NaN,821.0,954.0,890.0,845.0,783.0,733.0,...,801.0,906.0,NaN,NaN,NaN,NaN,573.0,594.0,NaN,NaN
2,Andorra,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,2.0,...,1.0,0.0,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,3.0,0.0,2.0,0.0,0.0,NaN
4,Argentina,NaN,NaN,1044.0,1044.0,1026.0,1094.0,1106.0,1380.0,1372.0,...,1741.0,1694.0,1801.0,NaN,2307.0,1459.0,NaN,2591.0,2142.0,NaN
5,Armenia,73.0,68.0,63.0,23.0,16.0,31.0,42.0,58.0,36.0,...,31.0,17.0,14.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Australia,NaN,102.0,135.0,114.0,113.0,94.0,99.0,118.0,114.0,...,125.0,128.0,116.0,142.0,118.0,NaN,86.0,76.0,83.0,NaN
7,Austria,37.0,26.0,28.0,40.0,42.0,26.0,20.0,33.0,29.0,...,33.0,NaN,32.0,24.0,96.0,33.0,39.0,39.0,28.0,NaN
8,Azerbaijan,NaN,311.0,326.0,269.0,295.0,277.0,294.0,331.0,261.0,...,279.0,NaN,332.0,304.0,320.0,260.0,190.0,NaN,NaN,NaN
9,Bahamas,NaN,NaN,NaN,NaN,NaN,10.0,4.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
10,Bahrain,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Barbados,NaN,NaN,NaN,NaN,2.0,0.0,0.0,2.0,1.0,...,2.0,0.0,3.0,1.0,7.0,2.0,5.0,1.0,11.0,NaN
12,Belarus,921.0,859.0,922.0,975.0,NaN,NaN,NaN,NaN,NaN,...,464.0,NaN,433.0,371.0,314.0,NaN,NaN,NaN,NaN,NaN
13,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213.0,246.0,...,229.0,245.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,NaN,5.0,NaN,NaN,33.0,8.0,81.0,88.0,NaN
15,Bermuda,2.0,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,4.0,1.0,1.0,NaN,NaN
16,Bolivia (Plurinational State of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1138.0,1087.0,NaN,NaN,NaN
17,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,115.0,104.0,111.0,109.0,...,101.0,79.0,92.0,101.0,98.0,72.0,78.0,113.0,86.0,NaN
18,Bulgaria,134.0,151.0,161.0,137.0,204.0,143.0,116.0,126.0,114.0,...,74.0,98.0,82.0,76.0,72.0,57.0,39.0,56.0,44.0,NaN
19,Canada,159.0,171.0,177.0,165.0,171.0,135.0,149.0,146.0,145.0,...,108.0,NaN,141.0,174.0,NaN,180.0,117.0,106.0,NaN,NaN
20,Chile,NaN,NaN,NaN,NaN,1243.0,1312.0,1355.0,1681.0,1217.0,...,1100.0,1115.0,1490.0,873.0,808.0,840.0,566.0,978.0,1160.0,NaN
21,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11276.0,10431.0,...,8769.0,8141.0,6844.0,7246.0,NaN,NaN,NaN,NaN,6772.0,NaN
22,"China, Hong Kong Special Administrative Region",12.0,8.0,12.0,16.0,11.0,7.0,15.0,14.0,15.0,...,NaN,NaN,NaN,NaN,17.0,7.0,6.0,7.0,4.0,NaN
23,"China, Macao Special Administrative Region",NaN,NaN,NaN,NaN,NaN,20.0,7.0,2.0,1.0,...,9.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,0.0,NaN
24,Colombia,NaN,NaN,3164.0,NaN,3844.0,3296.0,3366.0,3924.0,4315.0,...,3642.0,4412.0,NaN,4564.0,4435.0,NaN,3227.0,2911.0,2905.0,NaN
25,Costa Rica,129.0,136.0,119.0,128.0,117.0,167.0,186.0,241.0,248.0,...,203.0,NaN,245.0,206.0,NaN,216.0,183.0,241.0,250.0,NaN
26,Croatia,NaN,51.0,63.0,81.0,60.0,43.0,49.0,34.0,46.0,...,47.0,31.0,70.0,63.0,54.0,75.0,58.0,66.0,74.0,NaN
27,Cyprus,2.0,5.0,4.0,9.0,15.0,4.0,5.0,13.0,2.0,...,6.0,3.0,6.0,16.0,2.0,7.0,NaN,11.0,NaN,NaN
28,Czechia,NaN,143.0,153.0,121.0,118.0,136.0,111.0,NaN,NaN,...,NaN,NaN,99.0,82.0,103.0,76.0,106.0,104.0,88.0,NaN
29,Denmark,31.0,29.0,32.0,27.0,18.0,22.0,35.0,54.0,26.0,...,22.0,32.0,20.0,33.0,32.0,23.0,40.0,35.0,33.0,NaN
30,Dominica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,85.0,NaN,NaN,7.0,3.0,1.0,1.0,NaN
31,Dominican Republic,NaN,NaN,310.0,628.0,661.0,513.0,748.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,275.0,539.0,NaN,NaN
32,Ecuador,298.0,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,192.0,NaN
33,Egypt,NaN,NaN,3255.0,3123.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,El Salvador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1139.0,1159.0,NaN
35,Estonia,119.0,106.0,NaN,NaN,NaN,NaN,NaN,53.0,40.0,...,32.0,36.0,NaN,NaN,28.0,35.0,28.0,29.0,29.0,NaN
36,Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Finland,90.0,85.0,116.0,74.0,79.0,93.0,73.0,74.0,82.0,...,74.0,NaN,54.0,48.0,40.0,54.0,58.0,54.0,50.0,NaN
38,France,361.0,356.0,374.0,382.0,417.0,661.0,624.0,657.0,511.0,...,527.0,548.0,447.0,450.0,315.0,344.0,281.0,358.0,NaN,NaN
39,Georgia,216.0,216.0,128.0,311.0,320.0,227.0,151.0,153.0,116.0,...,69.0,NaN,99.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
40,Germany,122.0,144.0,237.0,204.0,NaN,NaN,392.0,380.0,325.0,...,320.0,NaN,320.0,298.0,297.0,342.0,310.0,282.0,283.0,NaN
41,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,99.0,242.0,220.0,NaN
42,Grenada,NaN,NaN,NaN,NaN,8.0,7.0,4.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,11.0,4.0,2.0,3.0,NaN
43,Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1536.0,1442.0,NaN
44,Guyana,NaN,NaN,NaN,NaN,NaN,NaN,8.0,22.0,18.0,...,28.0,27.0,19.0,327.0,202.0,100.0,131.0,52.0,25.0,NaN
45,Holy See,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
46,Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861.0,...,NaN,319.0,400.0,NaN,NaN,514.0,272.0,491.0,436.0,NaN
47,Hungary,206.0,195.0,150.0,159.0,157.0,136.0,163.0,138.0,110.0,...,203.0,NaN,189.0,91.0,86.0,87.0,47.0,47.0,69.0,NaN
48,Iceland,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,NaN
49,India,NaN,22243.0,20998.0,22457.0,20597.0,20834.0,18660.0,11525.0,11456.0,...,NaN,NaN,20793.0,21187.0,19615.0,17495.0,12643.0,10909.0,NaN,NaN

In [23]:
# Fill NaN values with the respective country's mean
pivot_df = pivot_df.set_index("Country").apply(lambda row: row.fillna(row.mean()), axis=1).reset_index()

In [26]:
pivot_df.head(20)

,Country,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Albania,158.000000,136.000000,128.000000,95.000000,92.000000,96.000000,111.800000,111.800000,111.800000,...,175.000000,166.000000,135.000000,95.000000,114.000000,73.000000,62.000,96.000,111.800000,111.800000
1,Algeria,756.923077,406.000000,756.923077,821.000000,954.000000,890.000000,845.000000,783.000000,733.000000,...,801.000000,906.000000,756.923077,756.923077,756.923077,756.923077,573.000,594.000,756.923077,756.923077
2,Andorra,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,...,1.000000,0.000000,1.000000,3.000000,2.000000,1.000000,1.000,1.000,1.000000,1.000000
3,Antigua and Barbuda,1.833333,1.833333,1.833333,1.833333,1.833333,1.833333,1.833333,1.833333,1.833333,...,1.833333,1.833333,1.833333,6.000000,3.000000,0.000000,2.000,0.000,0.000000,1.833333
4,Argentina,1549.250000,1549.250000,1044.000000,1044.000000,1026.000000,1094.000000,1106.000000,1380.000000,1372.000000,...,1741.000000,1694.000000,1801.000000,1549.250000,2307.000000,1459.000000,1549.250,2591.000,2142.000000,1549.250000
5,Armenia,73.000000,68.000000,63.000000,23.000000,16.000000,31.000000,42.000000,58.000000,36.000000,...,31.000000,17.000000,14.000000,24.000000,38.500000,38.500000,38.500,38.500,38.500000,38.500000
6,Australia,110.722222,102.000000,135.000000,114.000000,113.000000,94.000000,99.000000,118.000000,114.000000,...,125.000000,128.000000,116.000000,142.000000,118.000000,110.722222,86.000,76.000,83.000000,110.722222
7,Austria,37.000000,26.000000,28.000000,40.000000,42.000000,26.000000,20.000000,33.000000,29.000000,...,33.000000,35.578947,32.000000,24.000000,96.000000,33.000000,39.000,39.000,28.000000,35.578947
8,Azerbaijan,293.125000,311.000000,326.000000,269.000000,295.000000,277.000000,294.000000,331.000000,261.000000,...,279.000000,293.125000,332.000000,304.000000,320.000000,260.000000,190.000,293.125,293.125000,293.125000
9,Bahamas,6.250000,6.250000,6.250000,6.250000,6.250000,10.000000,4.000000,6.000000,6.250000,...,6.250000,6.250000,6.250000,6.250000,6.250000,6.250000,5.000,6.250,6.250000,6.250000
10,Bahrain,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000,1.000,1.000000,1.000000
11,Barbados,2.500000,2.500000,2.500000,2.500000,2.000000,0.000000,0.000000,2.000000,1.000000,...,2.000000,0.000000,3.000000,1.000000,7.000000,2.000000,5.000,1.000,11.000000,2.500000
12,Belarus,921.000000,859.000000,922.000000,975.000000,657.375000,657.375000,657.375000,657.375000,657.375000,...,464.000000,657.375000,433.000000,371.000000,314.000000,657.375000,657.375,657.375,657.375000,657.375000
13,Belgium,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,213.000000,246.000000,...,229.000000,245.000000,225.000000,99.000000,225.000000,225.000000,225.000,225.000,225.000000,225.000000
14,Belize,41.166667,41.166667,41.166667,41.166667,41.166667,41.166667,41.166667,41.166667,41.166667,...,32.000000,41.166667,5.000000,41.166667,41.166667,33.000000,8.000,81.000,88.000000,41.166667
15,Bermuda,2.000000,3.125000,1.000000,3.000000,3.125000,3.125000,3.125000,3.125000,3.125000,...,3.125000,3.125000,3.125000,3.125000,6.000000,4.000000,1.000,1.000,3.125000,3.125000
16,Bolivia (Plurinational State of),1112.500000,1112.500000,1112.500000,1112.500000,1112.500000,1112.500000,1112.500000,1112.500000,1112.500000,...,1112.500000,1112.500000,1112.500000,1112.500000,1112.500000,1138.000000,1087.000,1112.500,1112.500000,1112.500000
17,Bosnia and Herzegovina,102.933333,102.933333,102.933333,102.933333,102.933333,115.000000,104.000000,111.000000,109.000000,...,101.000000,79.000000,92.000000,101.000000,98.000000,72.000000,78.000,113.000,86.000000,102.933333
18,Bulgaria,134.000000,151.000000,161.000000,137.000000,204.000000,143.000000,116.000000,126.000000,114.000000,...,74.000000,98.000000,82.000000,76.000000,72.000000,57.000000,39.000,56.000,44.000000,103.350000
19,Canada,159.000000,171.000000,177.000000,165.000000,171.000000,135.000000,149.000000,146.000000,145.000000,...,108.000000,148.411765,141.000000,174.000000,148.411765,180.000000,117.000,106.000,148.411765,148.411765

In [25]:
pivot_df.to_csv('global_homicide_conviction_count.csv',index=False)