In [1]:
import pandas as pd

In [39]:
# List of all CSV files
csv_files = [
    "../Data Preprocessing/global_crime_index.csv",
    "../Data Preprocessing/global_health_index.csv",
    "../Data Preprocessing/homicide_justice_rate.csv",
    "../Data Preprocessing/global_military_index.csv",
    "../Data Preprocessing/global_peace_index.csv",
    "../Data Preprocessing/global_press_freedom_index.csv"
]

In [40]:
# Load all CSV files into separate dataframes
global_crime_index = pd.read_csv("../Data Preprocessing/global_crime_index.csv")
global_health_index = pd.read_csv("../Data Preprocessing/global_health_index.csv")
homicide_justice_rate = pd.read_csv("../Data Preprocessing/homicide_justice_rate.csv")
global_military_index = pd.read_csv("../Data Preprocessing/global_military_index.csv")
global_peace_index = pd.read_csv("../Data Preprocessing/global_peace_index.csv")
global_press_freedom_index = pd.read_csv("../Data Preprocessing/global_press_freedom_index.csv")

In [42]:
# Create a dictionary for easier management
dataframes = {
    "global_crime_index": global_crime_index,
    "global_health_index": global_health_index,
    "homicide_justice_rate": homicide_justice_rate,
    "global_military_index": global_military_index,
    "global_peace_index": global_peace_index,
    "global_press_freedom_index": global_press_freedom_index
}

In [43]:
# Get the largest leftmost year and smallest rightmost year
year_bounds = []
for df in dataframes.values():
    # Extract year columns (excluding the 'Country' column)
    year_columns = [int(col) for col in df.columns if col != 'Country']
    year_bounds.append((min(year_columns), max(year_columns)))

# Determine the new year bounds
new_start_year = max(bound[0] for bound in year_bounds)
new_end_year = min(bound[1] for bound in year_bounds)

# Get the common countries among all dataframes
common_countries = set(global_crime_index['Country'])
for df in dataframes.values():
    common_countries.intersection_update(df['Country'])

# Create a new dataframe with zero values
columns = ['Country'] + list(range(new_start_year, new_end_year + 1))
new_df = pd.DataFrame(columns=columns)
new_df['Country'] = list(common_countries)
new_df.iloc[:, 1:] = 0

In [44]:
new_df.head()

   Country 2013 2014 2015 2016 2017 2018 2019 2020 2021
0  Romania    0    0    0    0    0    0    0    0    0
1  Hungary    0    0    0    0    0    0    0    0    0
2    Spain    0    0    0    0    0    0    0    0    0
3   Canada    0    0    0    0    0    0    0    0    0
4  Croatia    0    0    0    0    0    0    0    0    0

In [45]:
new_df.sort_values(by=["Country"],inplace=True)

In [46]:
new_df.head()

      Country 2013 2014 2015 2016 2017 2018 2019 2020 2021
29    Albania    0    0    0    0    0    0    0    0    0
15    Algeria    0    0    0    0    0    0    0    0    0
16  Argentina    0    0    0    0    0    0    0    0    0
31    Armenia    0    0    0    0    0    0    0    0    0
26  Australia    0    0    0    0    0    0    0    0    0

In [47]:
# Modify the dataframes
def normalize_dataframe(df, start_year, end_year, common_countries):
    # Filter the dataframe by year bounds
    year_columns = [col for col in df.columns if col != 'Country']
    year_columns = [col for col in year_columns if start_year <= int(col) <= end_year]
    filtered_df = df[['Country'] + year_columns]

    # Filter by common countries
    filtered_df = filtered_df[filtered_df['Country'].isin(common_countries)]

    # Normalize values to 0-1
    for col in year_columns:
        max_value = filtered_df[col].max()
        min_value = filtered_df[col].min()
        if max_value != min_value:  # Avoid division by zero
            filtered_df[col] = (filtered_df[col] - min_value) / (max_value - min_value)
        else:
            filtered_df[col] = 0  # If all values are the same, set to 0

    return filtered_df

# Apply modifications to each dataframe
for name, df in dataframes.items():
    dataframes[name] = normalize_dataframe(df, new_start_year, new_end_year, common_countries)

# Subtract values of global_crime_index from 1
global_crime_index = dataframes["global_crime_index"]
for col in global_crime_index.columns[1:]:
    global_crime_index[col] = 1 - global_crime_index[col]
dataframes["global_crime_index"] = global_crime_index

In [48]:
# Add values of all dataframes into new_df
for year in range(new_start_year, new_end_year + 1):
    for country in common_countries:
        total_value = sum(
            df.loc[df['Country'] == country, str(year)].values[0]
            for df in dataframes.values()
            if str(year) in df.columns
        )
        new_df.loc[new_df['Country'] == country, year] = total_value

In [55]:
new_df.sort_values(by=2013,ascending=False).head(50)

,Country,2013,2014,2015,2016,2017,2018,2019,2020,2021
62,Cyprus,4.377943,4.023323,3.764315,3.942189,4.184282,3.33875,3.628189,3.767999,3.859072
38,Israel,4.322645,4.547757,4.496023,4.466409,4.470295,4.407777,4.560325,4.592093,4.379692
35,Estonia,4.312211,4.088472,4.079999,4.223144,4.275098,4.280205,4.322104,4.02208,4.24312
24,Georgia,4.280885,3.657916,4.046624,4.124952,4.173616,4.083619,4.065706,3.900297,3.839038
61,Thailand,4.191979,4.31117,4.132381,3.480803,3.780902,3.821557,3.831554,3.949186,3.861756
33,Singapore,3.997086,3.923932,4.176661,3.820904,4.01902,4.071661,3.357168,3.724352,3.660519
47,Sweden,3.890845,3.878546,3.862754,3.800716,3.779454,3.719193,3.703802,3.725825,3.717978
12,Turkmenistan,3.889284,4.012297,3.928826,3.917461,3.973482,3.970589,4.007199,4.059879,4.006544
18,Finland,3.815313,3.972306,3.992346,3.91457,3.98022,3.707893,3.920024,3.915275,3.998714
68,Belarus,3.813252,3.827667,3.770376,3.732134,3.887226,3.778777,3.964457,3.995312,3.265511
45,Norway,3.799847,4.012455,4.121705,4.061516,3.860405,3.877806,3.840482,3.842182,4.039826
65,Greece,3.79171,4.056968,3.924264,4.016595,3.927328,4.008813,4.010106,4.011853,3.966156
51,Montenegro,3.764061,3.6713,3.689824,2.887937,3.443212,3.095704,3.058988,3.261549,3.32692
15,Algeria,3.752511,3.833082,3.799456,3.588434,3.702892,3.692788,3.742341,3.62699,3.47374
31,Armenia,3.718806,3.639011,3.474518,3.38302,3.591521,4.049565,3.966633,4.134652,3.982387
53,United Arab Emirates,3.714907,3.831235,3.708703,3.730852,3.833027,3.950154,4.04273,4.18626,4.367541
54,Azerbaijan,3.697067,3.852774,3.50084,3.661132,3.817817,3.691325,3.730862,3.571934,3.870469
52,Lithuania,3.687974,3.885627,3.703268,3.75123,3.905094,3.931278,3.97274,3.706264,4.08187
59,Slovenia,3.687455,3.614001,3.266009,3.634034,3.73054,3.653369,3.66155,3.703933,3.697961
55,Belgium,3.655699,3.735767,3.732545,3.70585,3.599266,3.797373,3.815785,3.742409,3.697217
9,Saudi Arabia,3.630154,3.947001,3.960154,4.229026,4.245384,4.077503,4.115058,4.271607,4.198033
7,Serbia,3.62601,3.778212,3.442131,3.487119,3.647441,3.239856,3.512114,3.526944,3.593725
32,Poland,3.592314,3.595603,3.633745,3.68231,3.46701,3.313265,3.749798,3.407923,3.614081
49,Egypt,3.575127,3.747323,3.355822,3.286386,3.253727,3.272853,3.307308,3.445176,3.399219
11,Chile,3.561677,3.489222,3.552727,3.650654,3.531685,3.558594,3.500356,3.19682,3.473852
57,France,3.539225,3.634322,3.431211,3.588888,3.665815,3.403042,3.420679,3.441811,3.418079
21,Portugal,3.529081,3.704339,3.672617,3.697958,3.497854,3.62103,3.592953,3.813633,3.774688
46,Mongolia,3.522146,2.903657,2.767614,3.139679,2.909309,2.866091,2.964248,3.106463,3.086825
0,Romania,3.509062,3.644655,3.594513,3.695738,3.73682,3.682613,3.704886,3.734305,3.739988
37,Bahrain,3.467054,3.731576,3.572447,3.618393,3.552962,3.549573,3.697329,4.49615,4.431425
39,Ukraine,3.466261,3.661063,3.908274,4.093794,3.958905,4.136629,4.155717,4.210598,4.010929
64,Switzerland,3.44523,3.769153,3.275241,3.540029,3.742641,3.718101,3.603107,3.618343,3.941548
22,Denmark,3.432646,3.389809,3.574407,3.460513,3.542349,3.579525,3.499021,3.94952,3.982117
20,Tunisia,3.428151,3.583989,3.703588,3.686687,3.729327,3.694519,3.344982,3.395077,3.693223
4,Croatia,3.426639,3.673945,3.569102,3.70821,3.813068,3.794638,3.845891,3.826302,3.794581
50,Italy,3.376397,3.553676,3.45472,3.493079,3.517808,3.591398,3.540325,3.586251,3.590158
34,Latvia,3.368393,3.424689,3.427313,3.58094,3.588718,3.661337,3.667671,3.718581,3.670498
6,Japan,3.302803,3.393787,3.728218,3.333298,3.674174,3.745182,3.758426,3.166208,3.285564
69,Colombia,3.295367,3.250729,3.227646,3.256347,3.31724,3.392517,3.318101,3.261613,3.101463
36,Germany,3.293523,3.441206,3.338097,3.169023,3.255234,3.164345,3.359712,3.262984,3.143165
10,Uruguay,3.270355,3.403209,3.425536,3.33554,3.321099,3.071531,3.164639,3.313084,3.390935
44,Austria,3.268341,3.71347,3.665855,3.443808,3.332154,3.888833,3.333864,3.48248,3.448132
14,New Zealand,3.199713,3.45704,3.170224,3.18787,3.058169,2.916966,2.782394,3.100504,3.058747
56,China,3.195071,3.231516,2.91144,2.904024,3.065074,3.026726,2.916572,3.157278,2.848371
26,Australia,3.165722,3.219458,3.224376,3.222525,3.408328,3.285492,3.243978,3.141916,3.143047
30,Slovakia,3.153226,3.449327,3.294481,3.259391,3.191723,3.243491,3.109103,3.350196,3.578999
43,Bulgaria,3.093915,3.155467,3.184132,3.255074,3.012498,3.046486,3.113415,2.944331,2.905015
1,Hungary,3.042762,3.197332,2.830538,3.152247,2.911593,3.302971,3.306066,2.906878,2.894023
58,Kazakhstan,3.036456,3.251876,3.014822,3.072459,3.016622,3.019049,2.398613,2.805472,3.116134
2,Spain,3.032879,3.498449,3.583941,3.491302,3.490323,3.413636,3.52469,3.601078,3.539548

In [ ]:
new_df.to_csv('Global Safety and Stability Index.csv',index=False)