In [187]:
import pandas as pd

In [188]:
# List of all CSV files
csv_files = [
    "../Data Preprocessing/global_crime_index.csv",
    "../Data Preprocessing/global_health_index.csv",
    "../Data Preprocessing/homicide_justice_rate.csv",
    "../Data Preprocessing/global_military_index.csv",
    "../Data Preprocessing/global_peace_index.csv",
    "../Data Preprocessing/global_press_freedom_index.csv"
]

In [189]:
# Load all CSV files into separate dataframes
global_crime_index = pd.read_csv("../Data Preprocessing/global_crime_index.csv")
global_health_index = pd.read_csv("../Data Preprocessing/global_health_index.csv")
homicide_justice_rate = pd.read_csv("../Data Preprocessing/homicide_justice_rate.csv")
global_military_index = pd.read_csv("../Data Preprocessing/global_military_index.csv")
global_peace_index = pd.read_csv("../Data Preprocessing/global_peace_index.csv")
global_press_freedom_index = pd.read_csv("../Data Preprocessing/global_press_freedom_index.csv")

In [245]:
global_crime_index.sort_values(by=['2021'],ascending=True).head(50) #checking if all csv is loaded properly

,Country,2013,2014,2015,2016,2017,2018,2019,2020,2021
122,South Africa,0.114206,0.013029,0.014587,0.000000,0.042139,0.048632,0.000000,0.000000,0.000000
53,Honduras,0.165738,0.169381,0.071313,0.031949,0.000000,0.000000,0.000000,0.022654,0.037277
107,Peru,0.374652,0.345277,0.351702,0.230032,0.243112,0.227964,0.182250,0.150485,0.170178
4,Argentina,0.356546,0.355049,0.273906,0.241214,0.254457,0.259878,0.225040,0.254045,0.223663
70,Kenya,0.147632,0.006515,0.108590,0.142173,0.215559,0.290274,0.348653,0.255663,0.254457
13,Belarus,0.809192,0.755700,0.790924,0.811502,0.907618,0.794833,0.844691,0.849515,0.272285
35,Dominican Republic,0.373259,0.210098,0.188006,0.242812,0.254457,0.264438,0.244057,0.263754,0.275527
50,Guatemala,0.000000,0.000000,0.000000,0.238019,0.303079,0.297872,0.331220,0.318770,0.306321
80,Malaysia,0.239554,0.210098,0.150729,0.156550,0.218801,0.240122,0.253566,0.302589,0.311183
140,Uganda,0.263231,0.278502,0.322528,0.322329,0.346840,0.314252,0.372425,0.299353,0.340357
28,Colombia,0.427577,0.338762,0.363047,0.477636,0.431118,0.428571,0.404120,0.367314,0.345219
87,Mongolia,0.529248,0.213355,0.145867,0.329073,0.173420,0.247720,0.269414,0.315534,0.348460
84,Mexico,0.399721,0.436482,0.413290,0.440895,0.453809,0.422492,0.388273,0.380259,0.358185
36,Ecuador,0.350975,0.314332,0.410049,0.407348,0.444084,0.451368,0.440571,0.430421,0.367909
69,Kazakhstan,0.445682,0.486971,0.528363,0.519169,0.486224,0.451368,0.163233,0.250809,0.374392
26,Chile,0.621170,0.524430,0.555916,0.581470,0.499190,0.492401,0.475436,0.522654,0.405186
2,Algeria,0.461003,0.439739,0.453809,0.332268,0.465154,0.428571,0.451664,0.448220,0.408428
145,Uruguay,0.555710,0.532573,0.520259,0.404153,0.432739,0.411854,0.393027,0.383495,0.419773
45,France,0.470752,0.521173,0.479741,0.547923,0.560778,0.510638,0.481775,0.496764,0.452188
106,Paraguay,0.337047,0.415309,0.384117,0.411000,0.415374,0.398611,0.382386,0.451456,0.455429
141,Ukraine,0.501393,0.486971,0.484603,0.476038,0.437601,0.448328,0.442155,0.462783,0.466775
144,United States,0.438719,0.475570,0.474878,0.471246,0.478120,0.445289,0.470681,0.490291,0.476499
128,Sweden,0.739554,0.667752,0.602917,0.563898,0.513776,0.449848,0.435816,0.491909,0.484603
37,Egypt,0.504178,0.438111,0.311183,0.349840,0.411669,0.382979,0.413629,0.495146,0.491086
59,Indonesia,0.618384,0.530945,0.520259,0.501597,0.463533,0.519757,0.488114,0.512945,0.500810
104,Panama,0.506964,0.614007,0.473258,0.410543,0.458671,0.463526,0.481775,0.490291,0.507293
62,Ireland,0.555710,0.418567,0.489465,0.479233,0.526742,0.533435,0.511886,0.519417,0.520259
58,India,0.596100,0.579805,0.531605,0.507987,0.555916,0.527356,0.540412,0.553398,0.525122
65,Italy,0.493036,0.548860,0.515397,0.514377,0.544571,0.522796,0.503962,0.537217,0.529984
14,Belgium,0.584958,0.615635,0.604538,0.530351,0.547812,0.557751,0.543582,0.542071,0.533225
49,Greece,0.488858,0.591205,0.614263,0.637380,0.615883,0.604863,0.605388,0.601942,0.534846
137,Tunisia,0.548747,0.526059,0.593193,0.630990,0.606159,0.585106,0.546751,0.576052,0.546191
6,Australia,0.564067,0.620521,0.601297,0.563898,0.581848,0.553191,0.538827,0.584142,0.562399
95,New Zealand,0.600279,0.592834,0.640194,0.670927,0.640194,0.603343,0.589540,0.592233,0.564019
108,Philippines,0.417827,0.609121,0.586710,0.651757,0.623987,0.589666,0.570523,0.571197,0.565640
88,Montenegro,0.811978,0.656840,0.719611,0.488818,0.641815,0.629179,0.575277,0.587379,0.575365
1,Albania,0.527855,0.456026,0.481361,0.482428,0.551053,0.592705,0.578447,0.614887,0.575365
25,Canada,0.694986,0.700326,0.677472,0.626198,0.633712,0.601824,0.591125,0.611650,0.581848
114,Russia,0.452646,0.433225,0.453809,0.496805,0.521880,0.512158,0.553090,0.588997,0.599676
134,Thailand,0.618384,0.679153,0.683955,0.571885,0.461912,0.480243,0.477021,0.598706,0.611021
117,Serbia,0.608635,0.651466,0.581848,0.560703,0.643436,0.624620,0.625990,0.648867,0.628849
22,Bulgaria,0.604457,0.640065,0.580227,0.591054,0.617504,0.595745,0.583201,0.631068,0.632091
75,Latvia,0.545961,0.579805,0.682334,0.648562,0.677472,0.638298,0.633914,0.655340,0.646677
93,Nepal,0.650418,0.447883,0.487844,0.579872,0.666126,0.598784,0.640254,0.694175,0.670989
47,Germany,0.849582,0.850163,0.823339,0.725240,0.750405,0.641337,0.670365,0.690939,0.675851
56,Hungary,0.713092,0.680782,0.607780,0.583067,0.646677,0.644377,0.659271,0.686084,0.685575
78,Lithuania,0.700557,0.726384,0.690438,0.562300,0.620746,0.627660,0.638669,0.718447,0.701783
100,Norway,0.825905,0.742671,0.779579,0.771565,0.528363,0.541033,0.657686,0.681230,0.708266
125,Spain,0.707521,0.763844,0.735818,0.744409,0.761750,0.641337,0.702060,0.736246,0.713128
118,Singapore,0.903900,0.944625,1.000000,1.000000,1.000000,0.952888,0.876387,0.758900,0.714749

In [191]:
# Create a dictionary for easier management
dataframes = {
    "global_crime_index": global_crime_index,
    "global_health_index": global_health_index,
    "homicide_justice_rate": homicide_justice_rate,
    "global_military_index": global_military_index,
    "global_peace_index": global_peace_index,
    "global_press_freedom_index": global_press_freedom_index
}

In [192]:
# Get the largest leftmost year and smallest rightmost year
year_bounds = []
for df in dataframes.values():
    # Extract year columns (excluding the 'Country' column)
    year_columns = [int(col) for col in df.columns if col != 'Country']
    year_bounds.append((min(year_columns), max(year_columns)))

# Determine the new year bounds
new_start_year = max(bound[0] for bound in year_bounds)
new_end_year = min(bound[1] for bound in year_bounds)

# Get the common countries among all dataframes
common_countries = set(global_crime_index['Country'])
for df in dataframes.values():
    common_countries.intersection_update(df['Country'])

# Create a new dataframe with zero values
columns = ['Country'] + list(range(new_start_year, new_end_year + 1))
new_df = pd.DataFrame(columns=columns)
new_df['Country'] = list(common_countries)
new_df.iloc[:, 1:] = 0

In [193]:
new_df.head()

     Country 2013 2014 2015 2016 2017 2018 2019 2020 2021
0   Slovakia    0    0    0    0    0    0    0    0    0
1  Lithuania    0    0    0    0    0    0    0    0    0
2    Belarus    0    0    0    0    0    0    0    0    0
3  Australia    0    0    0    0    0    0    0    0    0
4    Finland    0    0    0    0    0    0    0    0    0

In [194]:
new_df.sort_values(by=["Country"],inplace=True)

In [195]:
new_df[new_df['Country']=="Egypt"]

   Country 2013 2014 2015 2016 2017 2018 2019 2020 2021
52   Egypt    0    0    0    0    0    0    0    0    0

In [196]:
# Modify the dataframes
def normalize_dataframe(df, start_year, end_year, common_countries):
    # Filter the dataframe by year bounds
    year_columns = [col for col in df.columns if col != 'Country']
    year_columns = [col for col in year_columns if start_year <= int(col) <= end_year]
    filtered_df = df[['Country'] + year_columns]

    # Filter by common countries
    filtered_df = filtered_df[filtered_df['Country'].isin(common_countries)]

    # Normalize values to 0-1
    for col in year_columns:
        max_value = filtered_df[col].max()
        min_value = filtered_df[col].min()
        if max_value != min_value:  # Avoid division by zero
            filtered_df[col] = (filtered_df[col] - min_value) / (max_value - min_value)
        else:
            filtered_df[col] = 0  # If all values are the same, set to 0

    return filtered_df

# Apply modifications to each dataframe
for name, df in dataframes.items():
    dataframes[name] = normalize_dataframe(df, new_start_year, new_end_year, common_countries)

# Subtract values of global_crime_index from 1
global_crime_index = dataframes["global_crime_index"]
for col in global_crime_index.columns[1:]:
    global_crime_index[col] = 1 - global_crime_index[col]
dataframes["global_crime_index"] = global_crime_index

# Subtract values of global_peace_index from 1
global_peace_index = dataframes["global_peace_index"]
for col in global_peace_index.columns[1:]:
    global_peace_index[col] = 1 - global_peace_index[col]
dataframes["global_peace_index"] = global_peace_index

In [197]:
# Define the weights
weights = {
    "global_crime_index": 1/6,
    "global_health_index": 1/6,
    "homicide_justice_rate": 1/6,
    "global_military_index": 1/6,
    "global_peace_index": 1/6,
    "global_press_freedom_index": 1/6
}

In [198]:
# Add values of all dataframes into new_df
for year in range(new_start_year, new_end_year + 1):
    for country in common_countries:
        total_value = sum(
            df.loc[df['Country'] == country, str(year)].values[0]*weights[name]
            for names,df in dataframes.items()
            if str(year) in df.columns
        )
        new_df.loc[new_df['Country'] == country, year] = total_value

In [199]:
new_df.columns = ['Country'] + list(map(str, range(new_start_year, new_end_year + 1)))

In [200]:
pivoted_df = new_df.melt(id_vars=["Country"], var_name="Year", value_name="Index")

# Step 2: Ensure the 'Year' column is treated as numeric for sorting (optional)
pivoted_df["Year"] = pd.to_numeric(pivoted_df["Year"])

In [203]:
pivoted_df[pivoted_df['Year']==2018].sort_values(by=['Index'],ascending=False).tail(50)

                Country  Year     Index
426        Turkmenistan  2018  0.669828
394               Italy  2018  0.669524
405         New Zealand  2018  0.652828
418            Slovakia  2018  0.651464
421               Spain  2018  0.650653
425             Tunisia  2018   0.65025
389             Hungary  2018  0.649527
411              Poland  2018  0.645227
368             Belarus  2018  0.638953
424            Thailand  2018  0.632228
385             Germany  2018  0.631163
393              Israel  2018  0.625653
415        Saudi Arabia  2018  0.620194
361             Algeria  2018  0.612954
371              Canada  2018  0.605445
376              Cyprus  2018  0.602805
370            Bulgaria  2018  0.602769
360             Albania  2018  0.600465
383              France  2018  0.600212
416              Serbia  2018  0.593797
362           Argentina  2018  0.586705
431             Uruguay  2018  0.585978
392             Ireland  2018  0.585455
403          Montenegro  2018  0.581439
366          Azerbaijan  2018  0.580078
430       United States  2018  0.580012
367             Bahrain  2018  0.576323
391           Indonesia  2018  0.557135
428             Ukraine  2018   0.55421
402            Mongolia  2018   0.54554
396          Kazakhstan  2018  0.543141
414              Russia  2018  0.526874
404               Nepal  2018  0.521069
373               China  2018  0.518533
400            Malaysia  2018  0.517435
407              Panama  2018  0.508902
379             Ecuador  2018  0.505211
380               Egypt  2018  0.497389
390               India  2018   0.49498
408            Paraguay  2018  0.479711
397               Kenya  2018  0.471763
409                Peru  2018  0.466595
378  Dominican Republic  2018  0.461612
374            Colombia  2018  0.438213
387           Guatemala  2018  0.421598
410         Philippines  2018  0.394821
420        South Africa  2018  0.370381
401              Mexico  2018  0.344899
427              Uganda  2018  0.310322
388            Honduras  2018  0.212244

In [204]:
new_df.to_csv('Global Safety and Stability Index.csv',index=False)

In [205]:
new_df.to_excel('Global Safety and Stability Index.xlsx', index = False)

In [206]:
pivoted_df.to_excel('Global Safety and Stability Index(Pivoted).xlsx', index = False)

In [215]:
pivoted_gdp_df=pd.read_csv("../Data Preprocessing/GDP_per_capita.csv")

In [223]:
# Merge the pivoted_df and pivoted_gdp_df on the 'Country' column
refined_df = pivoted_df.copy()

In [225]:
pivoted_gdp_df[pivoted_gdp_df['Country']=='Egypt'] #checking if some countries exist

     Country  Year  GDP per capita
55     Egypt  2013     3088.890834
248    Egypt  2014     3196.861381
441    Egypt  2015     3370.382447
634    Egypt  2016     3331.612461
827    Egypt  2017     2439.967284
1020   Egypt  2018     2531.200079
1213   Egypt  2019     3017.258336
1406   Egypt  2020     3571.556907
1599   Egypt  2021     3886.722498

In [226]:
# Initialize an empty list to store the GDP per capita values
gdp_values = []

# Iterate through each row of pivoted_df
for index, row in pivoted_df.iterrows():
    country = row['Country']
    year = row['Year']
    
    # Find the matching row in pivoted_gdp_df
    matched_row = pivoted_gdp_df[(pivoted_gdp_df['Country'] == country) & (pivoted_gdp_df['Year'] == year)]
    
    # If a matching row is found, append the GDP per capita value to the list
    if not matched_row.empty:
        gdp_values.append(matched_row['GDP per capita'].values[0])
    else:
        # If no match found, append NaN (or handle as you need)
        gdp_values.append(None)

# Add the GDP per capita values to the original pivoted_df as a new column
refined_df['GDP per capita'] = gdp_values

In [227]:
refined_df.isna().sum()

Country           0
Year              0
Index             0
GDP per capita    9
dtype: int64

In [229]:
refined_df[refined_df['Country']=='Egypt']

    Country  Year     Index  GDP per capita
20    Egypt  2013  0.544175     3088.890834
92    Egypt  2014   0.54635     3196.861381
164   Egypt  2015   0.52994     3370.382447
236   Egypt  2016  0.506693     3331.612461
308   Egypt  2017   0.51008     2439.967284
380   Egypt  2018  0.497389     2531.200079
452   Egypt  2019  0.509246     3017.258336
524   Egypt  2020   0.51897     3571.556907
596   Egypt  2021   0.51386     3886.722498

In [230]:
refined_df = refined_df.dropna(subset=['GDP per capita'])

In [231]:
refined_df

                  Country  Year     Index  GDP per capita
0                 Albania  2013  0.459649     4413.063397
1                 Algeria  2013  0.589104     5519.777576
2               Argentina  2013  0.508337    13080.254732
3                 Armenia  2013  0.584497     3833.157071
4               Australia  2013  0.646574    68156.386105
..                    ...   ...       ...             ...
643                Uganda  2021  0.309224      883.465728
644               Ukraine  2021  0.593235     4827.845703
645  United Arab Emirates  2021  0.746869    44315.554184
646         United States  2021  0.574822    70219.472454
647               Uruguay  2021  0.617383    17923.995333

[639 rows x 4 columns]

In [232]:
refined_df[refined_df['Country']=='Egypt']

    Country  Year     Index  GDP per capita
20    Egypt  2013  0.544175     3088.890834
92    Egypt  2014   0.54635     3196.861381
164   Egypt  2015   0.52994     3370.382447
236   Egypt  2016  0.506693     3331.612461
308   Egypt  2017   0.51008     2439.967284
380   Egypt  2018  0.497389     2531.200079
452   Egypt  2019  0.509246     3017.258336
524   Egypt  2020   0.51897     3571.556907
596   Egypt  2021   0.51386     3886.722498

In [233]:
refined_df.to_excel('Safety and Stability Index vs GDP per capita.xlsx', index = False)