In [50]:
import pandas as pd

In [78]:
# List of all CSV files
csv_files = [
    "../Data Preprocessing/global_crime_index.csv",
    "../Data Preprocessing/global_health_index.csv",
    "../Data Preprocessing/homicide_justice_rate.csv",
    "../Data Preprocessing/global_military_index.csv",
    "../Data Preprocessing/global_peace_index.csv",
    "../Data Preprocessing/global_press_freedom_index.csv"
]

In [79]:
# Load all CSV files into separate dataframes
global_crime_index = pd.read_csv("../Data Preprocessing/global_crime_index.csv")
global_health_index = pd.read_csv("../Data Preprocessing/global_health_index.csv")
homicide_justice_rate = pd.read_csv("../Data Preprocessing/homicide_justice_rate.csv")
global_military_index = pd.read_csv("../Data Preprocessing/global_military_index.csv")
global_peace_index = pd.read_csv("../Data Preprocessing/global_peace_index.csv")
global_press_freedom_index = pd.read_csv("../Data Preprocessing/global_press_freedom_index.csv")

In [80]:
global_crime_index.tail(50) #checking if all csv is loaded properly

,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
103,Palestine,40.012500,40.012500,40.012500,35.4,40.012500,38.000000,37.900000,37.000000,43.60,44.00,43.2,41.0
104,Panama,32.400000,48.500000,41.600000,50.1,52.700000,50.000000,48.400000,46.400000,47.20,45.80,43.9,43.7
105,Papua New Guinea,79.222222,79.222222,79.222222,69.9,77.600000,82.400000,80.000000,79.900000,81.90,80.20,81.2,79.9
106,Paraguay,52.671429,60.700000,53.800000,55.6,52.671429,52.671429,52.671429,52.671429,49.60,49.00,49.2,50.8
107,Peru,60.900000,58.000000,58.100000,57.6,64.000000,63.300000,63.900000,65.300000,68.20,66.60,67.1,67.6
108,Philippines,53.100000,54.900000,41.900000,43.1,37.600000,39.800000,40.100000,40.800000,42.20,42.20,42.3,42.7
109,Poland,38.700000,38.900000,37.500000,33.0,31.400000,31.500000,36.200000,30.100000,28.50,29.30,29.8,29.2
110,Portugal,40.600000,35.000000,35.100000,35.8,35.100000,35.400000,34.500000,32.100000,29.60,29.90,30.6,31.5
111,Puerto Rico,73.100000,70.500000,59.300000,67.1,65.900000,69.200000,64.900000,65.500000,65.60,63.40,62.2,62.0
112,Qatar,17.163636,26.200000,21.800000,21.0,22.300000,15.700000,15.700000,13.300000,11.90,12.30,13.8,14.8
113,Romania,29.600000,30.000000,28.700000,29.7,29.700000,27.900000,29.000000,27.800000,27.60,28.30,28.8,32.0
114,Russia,50.600000,52.400000,52.700000,51.3,47.300000,46.100000,45.200000,41.900000,41.10,40.10,39.6,39.3
115,Rwanda,24.100000,24.100000,24.100000,19.2,24.100000,24.100000,24.100000,24.100000,24.10,25.30,24.3,27.6
116,Saudi Arabia,32.500000,31.700000,29.400000,34.6,25.200000,23.600000,36.700000,29.700000,26.20,25.90,24.7,24.6
117,Serbia,28.700000,41.200000,39.300000,43.4,43.300000,38.600000,37.800000,37.300000,37.40,38.30,38.3,38.2
118,Singapore,20.200000,20.000000,21.300000,17.6,15.800000,16.600000,16.200000,21.500000,30.60,33.00,27.6,29.2
119,Slovakia,46.900000,35.200000,32.700000,33.3,33.500000,30.200000,30.200000,29.500000,29.20,29.70,30.2,31.4
120,Slovenia,35.700000,29.600000,33.200000,28.7,26.300000,24.100000,24.700000,22.600000,21.10,21.80,22.7,24.2
121,Somalia,60.162500,60.162500,60.162500,65.6,55.700000,58.800000,60.162500,60.100000,58.50,56.00,58.0,68.6
122,South Africa,78.100000,76.700000,78.500000,78.4,78.400000,75.700000,75.700000,76.800000,77.50,77.10,76.1,75.4
123,South Korea,24.363636,17.400000,16.300000,18.0,14.300000,25.300000,35.800000,34.000000,28.00,26.90,26.5,25.5
124,South Sudan,81.600000,81.600000,81.600000,85.3,81.300000,78.200000,81.600000,81.600000,81.60,81.60,81.6,81.6
125,Spain,33.000000,34.100000,32.400000,33.9,31.800000,31.300000,36.700000,32.500000,32.00,33.10,33.9,35.7
126,Sri Lanka,41.790909,39.700000,42.400000,50.0,46.300000,34.600000,41.700000,41.000000,40.20,41.20,41.2,41.4
127,Sudan,39.320000,39.320000,34.800000,35.7,39.320000,35.000000,39.320000,39.320000,39.32,39.32,44.6,46.5
128,Sweden,36.200000,31.800000,38.300000,42.1,43.100000,46.600000,49.300000,49.300000,47.10,47.20,49.0,48.5
129,Switzerland,25.800000,27.600000,31.800000,26.8,25.700000,22.400000,21.800000,21.500000,21.60,21.30,21.7,23.6
130,Syria,63.536364,62.300000,57.100000,56.3,54.700000,66.300000,67.700000,63.600000,66.50,68.10,67.5,68.8
131,Taiwan,9.500000,16.300000,21.500000,21.9,21.200000,17.200000,20.700000,17.400000,15.70,15.20,15.9,17.5
132,Taiwan (China),16.200000,16.200000,16.200000,16.2,16.200000,16.200000,16.200000,16.200000,16.20,16.20,16.2,16.2
133,Tanzania,58.650000,58.650000,57.100000,61.8,60.000000,61.400000,59.800000,59.000000,59.00,56.60,56.3,55.5
134,Thailand,39.700000,40.500000,37.600000,37.1,42.600000,49.800000,47.300000,46.700000,40.50,39.40,39.3,38.7
135,Timor-Leste,43.800000,43.800000,43.800000,43.8,43.800000,43.800000,43.800000,43.800000,43.80,43.80,43.8,43.8
136,Trinidad And Tobago,73.881818,83.600000,78.700000,75.3,72.600000,70.200000,72.200000,74.000000,73.20,70.90,71.4,70.6
137,Tunisia,42.900000,45.500000,47.000000,42.7,38.900000,40.900000,40.400000,42.300000,41.90,43.40,44.3,44.6
138,Turkey,26.400000,35.200000,40.000000,36.4,39.400000,41.100000,41.100000,40.400000,39.50,39.50,39.7,40.1
139,Turkmenistan,17.900000,17.900000,17.900000,17.9,17.900000,17.900000,17.900000,17.900000,17.90,17.90,17.9,17.9
140,Uganda,58.222222,66.000000,62.200000,59.4,58.222222,56.900000,58.222222,53.300000,59.00,56.10,56.2,54.9
141,Ukraine,55.400000,48.900000,49.400000,49.4,48.600000,51.300000,49.400000,48.900000,48.90,48.30,46.9,46.7
142,United Arab Emirates,35.900000,18.000000,20.800000,22.2,23.100000,20.700000,18.700000,16.300000,15.70,15.40,15.1,15.1
143,United Kingdom,46.000000,39.800000,42.600000,42.0,43.100000,41.200000,41.200000,42.700000,43.70,45.30,46.5,46.9
144,United States,64.900000,53.400000,50.100000,50.0,48.900000,48.800000,49.600000,47.100000,47.20,47.70,48.2,49.0
145,Uruguay,42.800000,45.000000,46.600000,47.2,53.100000,51.600000,51.800000,52.000000,53.80,51.20,51.4,52.7
146,Us Virgin Islands,60.900000,60.900000,60.900000,60.9,60.900000,60.900000,60.900000,60.900000,60.90,60.90,60.9,60.9
147,Uzbekistan,49.450000,72.300000,64.300000,58.1,49.450000,49.450000,49.450000,49.450000,49.45,34.70,33.8,33.5
148,Venezuela,84.700000,85.700000,81.500000,84.1,84.400000,85.300000,82.600000,83.200000,84.50,84.20,83.6,82.6
149,Vietnam,50.000000,53.000000,53.300000,52.3,55.700000,53.000000,52.200000,48.800000,45.30,46.10,45.8,44.5
150,Yemen,70.100000,70.100000,70.100000,70.1,70.100000,70.100000,70.100000,70.100000,70.10,70.10,70.1,70.1
151,Zambia,45.000000,45.000000,45.000000,41.7,45.000000,45.000000,45.000000,45.000000,45.00,43.20,46.3,48.8
152,Zimbabwe,57.490909,52.900000,60.800000,62.2,60.000000,53.500000,54.600000,51.800000,57.50,58.90,59.7,60.5

In [81]:
# Create a dictionary for easier management
dataframes = {
    "global_crime_index": global_crime_index,
    "global_health_index": global_health_index,
    "homicide_justice_rate": homicide_justice_rate,
    "global_military_index": global_military_index,
    "global_peace_index": global_peace_index,
    "global_press_freedom_index": global_press_freedom_index
}

In [82]:
# Get the largest leftmost year and smallest rightmost year
year_bounds = []
for df in dataframes.values():
    # Extract year columns (excluding the 'Country' column)
    year_columns = [int(col) for col in df.columns if col != 'Country']
    year_bounds.append((min(year_columns), max(year_columns)))

# Determine the new year bounds
new_start_year = max(bound[0] for bound in year_bounds)
new_end_year = min(bound[1] for bound in year_bounds)

# Get the common countries among all dataframes
common_countries = set(global_crime_index['Country'])
for df in dataframes.values():
    common_countries.intersection_update(df['Country'])

# Create a new dataframe with zero values
columns = ['Country'] + list(range(new_start_year, new_end_year + 1))
new_df = pd.DataFrame(columns=columns)
new_df['Country'] = list(common_countries)
new_df.iloc[:, 1:] = 0

In [83]:
new_df.head()

     Country 2013 2014 2015 2016 2017 2018 2019 2020 2021
0   Slovakia    0    0    0    0    0    0    0    0    0
1  Lithuania    0    0    0    0    0    0    0    0    0
2    Belarus    0    0    0    0    0    0    0    0    0
3  Australia    0    0    0    0    0    0    0    0    0
4    Finland    0    0    0    0    0    0    0    0    0

In [84]:
new_df.sort_values(by=["Country"],inplace=True)

In [85]:
new_df.head()

      Country 2013 2014 2015 2016 2017 2018 2019 2020 2021
10    Albania    0    0    0    0    0    0    0    0    0
15    Algeria    0    0    0    0    0    0    0    0    0
12  Argentina    0    0    0    0    0    0    0    0    0
6     Armenia    0    0    0    0    0    0    0    0    0
3   Australia    0    0    0    0    0    0    0    0    0

In [86]:
# Modify the dataframes
def normalize_dataframe(df, start_year, end_year, common_countries):
    # Filter the dataframe by year bounds
    year_columns = [col for col in df.columns if col != 'Country']
    year_columns = [col for col in year_columns if start_year <= int(col) <= end_year]
    filtered_df = df[['Country'] + year_columns]

    # Filter by common countries
    filtered_df = filtered_df[filtered_df['Country'].isin(common_countries)]

    # Normalize values to 0-1
    for col in year_columns:
        max_value = filtered_df[col].max()
        min_value = filtered_df[col].min()
        if max_value != min_value:  # Avoid division by zero
            filtered_df[col] = (filtered_df[col] - min_value) / (max_value - min_value)
        else:
            filtered_df[col] = 0  # If all values are the same, set to 0

    return filtered_df

# Apply modifications to each dataframe
for name, df in dataframes.items():
    dataframes[name] = normalize_dataframe(df, new_start_year, new_end_year, common_countries)

# Subtract values of global_crime_index from 1
global_crime_index = dataframes["global_crime_index"]
for col in global_crime_index.columns[1:]:
    global_crime_index[col] = 1 - global_crime_index[col]
dataframes["global_crime_index"] = global_crime_index

# Subtract values of global_peace_index from 1
global_peace_index = dataframes["global_peace_index"]
for col in global_peace_index.columns[1:]:
    global_peace_index[col] = 1 - global_peace_index[col]
dataframes["global_peace_index"] = global_peace_index

In [87]:
# Define the weights
weights = {
    "global_crime_index": 1/6,
    "global_health_index": 1/6,
    "homicide_justice_rate": 1/6,
    "global_military_index": 1/6,
    "global_peace_index": 1/6,
    "global_press_freedom_index": 1/6
}

In [88]:
# Add values of all dataframes into new_df
for year in range(new_start_year, new_end_year + 1):
    for country in common_countries:
        total_value = sum(
            df.loc[df['Country'] == country, str(year)].values[0]*weights[name]
            for names,df in dataframes.items()
            if str(year) in df.columns
        )
        new_df.loc[new_df['Country'] == country, year] = total_value

In [89]:
new_df.columns = ['Country'] + list(map(str, range(new_start_year, new_end_year + 1)))

In [90]:
pivoted_df = new_df.melt(id_vars=["Country"], var_name="Year", value_name="Index")

# Step 2: Ensure the 'Year' column is treated as numeric for sorting (optional)
pivoted_df["Year"] = pd.to_numeric(pivoted_df["Year"])

In [95]:
pivoted_df[pivoted_df['Year']==2018].sort_values(by=['Index'],ascending=False).head(50)

                  Country  Year     Index
417             Singapore  2018  0.813921
365               Austria  2018  0.810066
381               Estonia  2018  0.807113
406                Norway  2018  0.765386
412              Portugal  2018  0.760692
423           Switzerland  2018  0.756817
419              Slovenia  2018  0.754961
395                 Japan  2018  0.749845
377               Denmark  2018  0.744295
369               Belgium  2018  0.743595
382               Finland  2018  0.742172
375               Croatia  2018    0.7353
413               Romania  2018  0.728114
422                Sweden  2018  0.727101
399             Lithuania  2018  0.723983
384               Georgia  2018  0.708537
398                Latvia  2018  0.705609
429  United Arab Emirates  2018  0.703612
386                Greece  2018  0.699168
372                 Chile  2018  0.678458
363               Armenia  2018  0.677703
364             Australia  2018  0.670861
426          Turkmenistan  2018  0.669828
394                 Italy  2018  0.669524
405           New Zealand  2018  0.652828
418              Slovakia  2018  0.651464
421                 Spain  2018  0.650653
425               Tunisia  2018   0.65025
389               Hungary  2018  0.649527
411                Poland  2018  0.645227
368               Belarus  2018  0.638953
424              Thailand  2018  0.632228
385               Germany  2018  0.631163
393                Israel  2018  0.625653
415          Saudi Arabia  2018  0.620194
361               Algeria  2018  0.612954
371                Canada  2018  0.605445
376                Cyprus  2018  0.602805
370              Bulgaria  2018  0.602769
360               Albania  2018  0.600465
383                France  2018  0.600212
416                Serbia  2018  0.593797
362             Argentina  2018  0.586705
431               Uruguay  2018  0.585978
392               Ireland  2018  0.585455
403            Montenegro  2018  0.581439
366            Azerbaijan  2018  0.580078
430         United States  2018  0.580012
367               Bahrain  2018  0.576323
391             Indonesia  2018  0.557135

In [96]:
new_df.to_csv('Global Safety and Stability Index.csv',index=False)

In [97]:
new_df.to_excel('Global Safety and Stability Index.xlsx', index = False)

In [98]:
pivoted_df.to_excel('Global Safety and Stability Index(Pivoted).xlsx', index = False)

In [99]:
gdp_df=pd.read_csv("../Data Preprocessing/GDP_per_capita.csv")

In [100]:
gdp_df.drop(['Indicator Name'], axis=1, inplace=True)

In [101]:
gdp_df.rename(columns={'Country Name': 'Country'},
          inplace=True, errors='raise')

In [102]:
gdp_df

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,554.594735,621.912414,663.141053,651.987862,628.146804,592.476165,520.251955,530.149863,502.057099,500.522981,516.866797,363.674087,553.815151
1,Albania,4094.349699,4437.141146,4247.631356,4413.063397,4578.633208,3952.803584,4124.055390,4531.032207,5287.660817,5396.214227,5343.037704,6377.203096,6802.804519
2,Algeria,4495.921455,5473.281801,5610.733306,5519.777576,5516.229463,4197.419971,3967.200660,4134.936099,4171.795309,4021.983608,3354.157303,3700.311195,4273.922183
3,Andorra,48237.891173,51428.196955,44902.380765,44747.753864,45680.534990,38885.530324,39931.216982,40632.231554,42904.828456,41328.600499,37207.222000,42072.341103,41992.793358
4,Angola,3496.784796,4511.153227,4962.552072,5101.983876,5059.080441,3100.830685,1709.515534,2283.214233,2487.500996,2142.238757,1502.950754,1903.717405,2998.501158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,13692.914967,10877.112364,12937.927597,12433.980785,15975.729375,13183.533018,13183.533018,13183.533018,13183.533018,13183.533018,13183.533018,13183.533018,13183.533018
189,Vietnam,1684.011667,1953.556979,2190.232284,2367.499542,2558.778924,2595.234979,2760.717101,2992.071746,3267.225009,3491.091279,3586.347297,3756.489122,4163.514300
190,Yemen,1249.063085,1284.617635,1349.990295,1497.747941,1557.601406,1488.416267,1069.816997,893.716573,701.714878,693.816484,583.875663,603.707959,676.928385
191,Zambia,1469.361450,1644.456831,1729.647471,1840.320553,1724.576220,1307.909649,1249.923143,1495.752138,1475.199836,1268.120941,956.831747,1137.344395,1487.907764
192,Zimbabwe,937.840340,1082.615773,1290.193957,1408.367810,1407.034291,1410.329173,1421.787791,1192.107012,2269.177012,1421.868596,1372.696674,1773.920411,1266.996031

In [103]:
pivoted_gdp_df = gdp_df.melt(id_vars=["Country"], var_name="Year", value_name="GDP per capita")

# Step 2: Ensure the 'Year' column is treated as numeric for sorting (optional)
pivoted_gdp_df["Year"] = pd.to_numeric(pivoted_gdp_df["Year"])

In [104]:
pivoted_gdp_df=pivoted_gdp_df[(pivoted_gdp_df['Year']>=2013) & (pivoted_gdp_df['Year']<=2021)]

In [105]:
pivoted_gdp_df['Country'] = pivoted_gdp_df['Country'].replace('Russian Federation', 'Russia')

In [106]:
# Merge the pivoted_df and pivoted_gdp_df on the 'Country' column
refined_df = pivoted_df.copy()

In [107]:
# Initialize an empty list to store the GDP per capita values
gdp_values = []

# Iterate through each row of pivoted_df
for index, row in pivoted_df.iterrows():
    country = row['Country']
    year = row['Year']
    
    # Find the matching row in pivoted_gdp_df
    matched_row = pivoted_gdp_df[(pivoted_gdp_df['Country'] == country) & (pivoted_gdp_df['Year'] == year)]
    
    # If a matching row is found, append the GDP per capita value to the list
    if not matched_row.empty:
        gdp_values.append(matched_row['GDP per capita'].values[0])
    else:
        # If no match found, append NaN (or handle as you need)
        gdp_values.append(None)

# Add the GDP per capita values to the original pivoted_df as a new column
refined_df['GDP per capita'] = gdp_values

In [108]:
refined_df.isna().sum()

Country            0
Year               0
Index              0
GDP per capita    27
dtype: int64

In [109]:
refined_df = refined_df.dropna(subset=['GDP per capita'])

In [110]:
refined_df

                  Country  Year     Index  GDP per capita
0                 Albania  2013  0.459649     4413.063397
1                 Algeria  2013  0.589104     5519.777576
2               Argentina  2013  0.508337    13080.254732
3                 Armenia  2013  0.584497     3833.157071
4               Australia  2013  0.646574    68156.386105
..                    ...   ...       ...             ...
643                Uganda  2021  0.309224      883.465728
644               Ukraine  2021  0.593235     4827.845703
645  United Arab Emirates  2021  0.746869    44315.554184
646         United States  2021  0.574822    70219.472454
647               Uruguay  2021  0.617383    17923.995333

[621 rows x 4 columns]

In [111]:
refined_df[refined_df['Country']=='Russia']

    Country  Year     Index  GDP per capita
54   Russia  2013  0.408176    15974.623047
126  Russia  2014  0.422215    14095.646484
198  Russia  2015  0.444407     9313.021484
270  Russia  2016  0.530759     8704.894531
342  Russia  2017  0.535512    10720.332031
414  Russia  2018  0.526874    11287.354492
486  Russia  2019  0.531039    11536.258789
558  Russia  2020  0.521751    10194.441406
630  Russia  2021  0.563008    12593.157227

In [112]:
refined_df.to_excel('Safety and Stability Index vs GDP per capita.xlsx', index = False)